@ammario collected these results on 2024-08-15 by running `labeler test` on
`coder/coder`.


### gpt-4om

```
Total issues:      100
False adds:        15 15.00%
Top false adds:    [{chore 2} {bug 2} {feature 2} {s3 2} {cli 1} {enterprise 1} {customer-reported 1} {regression 1} {need-backend 1} {waiting-for-info 1} {need-help 1}]
False removes:     37 37.00%
Top false removes: [{site 14} {s2 3} {design 3} {feature 3} {enterprise 3} {customer-requested 3} {cli 2} {roadmap-maybe 1} {security 1} {chore 1} {s1 1} {roadmap 1} {s3 1}]
Hits:              250 250.00%
Top hit labels:    [{site 39} {bug 39} {feature 36} {enterprise 26} {design 26} {s3 24} {s4 8} {flake 8} {waiting-for-info 7} {good first issue 5} {customer-requested 4} {cli 4} {chore 4} {security 4} {need-backend 4} {observability 3} {regression 3} {api 2} {release/experimental 1} {customer-reported 1}]
Tokens used:       2029452
```

